


.image{
    border: 4px solid goldenrod;
    padding: 30px;
    margin: 34px;
    height:50;
    width: 300px;


}
img{
    height: 100px;
     width:300px ;
     border: solid red;
     
    
}

.do{
    height: 150px;
    width: 400px;
    border: 3px solid green; 
    border-top-color: brown;
    border-left-color: rgb(104, 101, 97);
     padding-left:30px ;
     padding-right:30px ;
    margin: 30px; 
    border-bottom-style: double;
    border-radius: 18px;
}
p{
    height: 100px;
    background-color: blueviolet;
    border: 2px solid aqua;
    border-radius: 16px;
}

button{
    border: 2px solid hotpink;
    background-color: yellow;
    border-radius: 22px;
   padding: 10px 20px;  /* 
   here the ist value for top and bottom and the secound value for right and lift */


}