
#container{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}
.iner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50px;

    


}
#d1{
    background-color:red ;
}
#d2{
    background-color:yellow ;
}
#d3{
    background-color: green;
}