.container{
    height: 300px;
    width: 600px;
    background-color: lightcoral;
    display: grid;
     grid-template-rows: 50px 50px 50px 50px 50px; 
     grid-template-columns: 200px 200px 200px ; 
     /* row-gap: 10px;
     column-gap: 10px;
     */
      /* shorthand */
      grid-gap:10px 10px;


      /* they define the gap between the line  */


}
     
 .item{
            /* height: 50px;
            width: 100px; */
            background-color: yellowgreen;
            border: 2px solid;
            text-align: center;
            font-size: larger;
        }


        
        #one{
            /* grid-column-start: 1;
            grid-column-end: 3; */

            /* shorthand */
            grid-column: 1/3;


            /* grid coulmn
             define an item's starting and ending position inside 
             inside the coulmn */
        }

