<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>this is the home page of EJS TEPLATE</h1>
    <h1><%= "tariq hussain".toUpperCase() %></h1>
    <h1><%= ["mathematics","DLD","C++"] [0] %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia numquam
      quisquam nemo atque inventore temporibus a nulla eius excepturi eos
      pariatur nostrum reiciendis, ea magni odit. Cupiditate repellendus
      accusantium temporibus!
    </p>

    <button>click here</button>
  </body>
</html>
