div {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    display: inline-block;
    margin: 20px;
    background-color: green;

}

.static {
    background-color: yellow;
    position: static;
    top: 100px; /*shift from top*/
    left: 100px
        /*shift from left. es space ko hum upset kahtay hay css may*/
        /* eska position change nahi hoga kunkay yaha per hum nay static proper applay kya aur by defualt ju hay wo layga */

}

.relative {
    background-color: rgb(0, 76, 255);
    position: relative;
    top: 100px;
    left: 100px;
    /* it will change  */


}

.absolute {
    background-color: fuchsia;
    position: absolute;
    top: 100px;
    left: 100px;
    /* the element is remove from the normal doc flow and no space is created for the element in the page
    it take position from its parents
    now if we look here the parent of div is section and is position is static  */

}

.fixed{
    background-color: burlywood;
    position: fixed;
    top: 100px;
    left: 100px;
    
    /* it is same to absolute lekin jab mai 
    page ko scroll karta ho tu ghaib nahi hoga  ye zyada tar nav-bar mai use hota hay jab jum page ko scrool kartay hay tu nav bar ghaib nahi hota matlab fixed hota hay*/


}