.card{
    
    width:  400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 30px;
}
img{
    
    width: 100%;
    border-radius: 20px;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}